name: LMDB Core Database Tests

on:
  pull_request:
    branches: [main, dev]

jobs:
  test:
    name: Test helix_engine
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      HELIX_API_KEY: "12345678901234567890123456789012"

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Run tests
        run: |
          cd helix-db
          cargo test --release --lib --no-default-features --features lmdb -- --skip concurrency_tests

      - name: Run dev instance tests
        run: |
          cd helix-db
          cargo test --release --lib --no-default-features --features dev-instance --features lmdb -- --skip concurrency_tests

      - name: Run production tests
        run: |
          cd helix-db
          cargo test --release --lib --no-default-features --features production --features lmdb -- --skip concurrency_tests
